{% extends 'base.html' %}
{% load static %}

{% block title %}Business & Sustainability | Carbon Tracker{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Sustainable Business Practices</h1>
    <p>Businesses play a critical role in shaping our environmental future. Explore how sustainability can also be good for the bottom line.</p>

    <div class="row row-cols-1 row-cols-md-2 g-4 my-4">

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'images/green-business.jpg' %}" class="card-img-top" alt="Green Business">
                <div class="card-body">
                    <h5 class="card-title">Green Business Strategies</h5>
                    <p class="card-text">Explore practical steps small and medium businesses can take to become more sustainable.</p>
                    <a href="https://www.greenbusinessbenchmark.com/resources/decarbonization-plan-for-small-medium-businesses" target="_blank" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'images/remote-work.jpg' %}" class="card-img-top" alt="Remote Work">
                <div class="card-body">
                    <h5 class="card-title">Remote Work and Sustainability</h5>
                    <p class="card-text">Understand how remote work models help reduce carbon emissions and operational costs.</p>
                    <a href="https://allwork.space/2025/04/is-remote-work-actually-better-for-the-environment-experts-break-down-the-carbon-footprint-of-work-models/" target="_blank" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'images/supply-chain.jpg' %}" class="card-img-top" alt="Sustainable Supply Chain">
                <div class="card-body">
                    <h5 class="card-title">Sustainable Supply Chains</h5>
                    <p class="card-text">Discover how companies are reducing emissions and waste through supply chain innovation.</p>
                    <a href="https://www.ey.com/en_gl/insights/supply-chain/supply-chain-sustainability-2022" target="_blank" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'images/eco-products.jpg' %}" class="card-img-top" alt="Eco Products">
                <div class="card-body">
                    <h5 class="card-title">Eco-Friendly Products</h5>
                    <p class="card-text">How offering environmentally responsible products can improve your brand image and impact.</p>
                    <a href="https://www.forbes.com/councils/forbesbusinesscouncil/2024/10/15/sustainable-marketing-how-brands-can-promote-eco-friendly-practices/" target="_blank" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
